* {
font-family: Arial;
color: #F1F1F1;
}

a {
color: #3EA6FF;
}

a:hover {
color: #3EA6FF;
text-decoration: none;
}

body,
#jp_container_1,
.jp-details,
div.jp-interface,
div.jp-title
{
background: #0f0f0f;
}

div.jp-play,
div.jp-pause,
.jp-seek-bar,
.jp-volume-bar,
div.jp-seek-bar
{
background: #272727;
}

div.jp-play,
div.jp-pause
{
border-radius: 15px;
}

.jp-play-bar,
.jp-volume-bar-value,
div.jp-play-bar {
background: linear-gradient(to right, #FF0034, #FF258C);
}

.sound-details,
.jp-audio,
div.jp-audio,
div.jp-play,
div.jp-pause
{
border-color: #0f0f0f;
}

.jp-description {
background: #272727;
padding-top: 5px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 15px;
}

div.sound-details {
border-color: #373737
}
